@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3B3F45;
}